<ion-header>
  <ion-toolbar color="dark">
    <ion-button slot="start" color="dark" (click)="back()">
      <ion-icon name="arrow-back" color="" size="large"></ion-icon>
    </ion-button>

    <p align="center">
      <ion-title>Criar tópico</ion-title>
    </p>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-item>
    <ion-label class = "user_Name" position="floating" color="dark">Título do Tópico</ion-label>
    <ion-input type="Card Number" ></ion-input>
  </ion-item>
  <ion-item>
    <ion-label class = "user_Name" position="floating" color="dark"> Descrição</ion-label>
    <ion-input type="" ></ion-input>
  </ion-item>
  <ion-button expand="block" color = "dark" (click)="back()" align="down">
    Confirmar
  </ion-button>
  </ion-content>




