<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start" color="dark" (click)="back()">
      <ion-icon name="arrow-back" color="" size="large"></ion-icon>
    </ion-buttons>
    <ion-title text-center color="">Resumo de Controlo de Gestão</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-content>
      Um sistema integrado de informação de controlo de gestão, vulgarmente conhecido como Controlo de Gestão, é um conjunto de métodos, técnicas e ferramentas que visam resolver este problema. Trata-se de propor um meio para a recolha e análise coerente da grande quantidade de dados gerados todos os dias no ambiente da empresa. A elaboração de relatórios de gestão é um aspeto. Mas apenas um aspeto, já que o controlo deve estender-se a toda a empresa. Apesar de uma das características do controlo ser o “domínio”, o controlo de gestão não deve ser entendido como a capacidade de impor regras coercivas à organização, mas como um meio para detetar – com a maior brevidade possível – qualquer anomalia no funcionamento da empresa para que se possa agir imediatamente, aplicando medidas corretivas.

    </ion-card-content>
  </ion-card>
</ion-content>

