<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start" color="dark" (click)="back()">
      <ion-icon name="arrow-back" color="" size="large"></ion-icon>
    </ion-buttons>
    <ion-title text-center color="">Novos Conteudos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>

    <ion-item>

      <h2>Andreia Coutinho</h2>
      <p>10/9/2021</p>
    </ion-item>


    <img src="assets/img/Inteligencia%20Artificial.jpg">

    <ion-card-content>
      <p>Resumos de Inteligência Artificial</p>
    </ion-card-content>

    <ion-row>
      <ion-col>
        <button ion-button color="primary" clear small icon-start>
          <ion-icon name='thumbs-up'></ion-icon>
          2 Upvotes
        </button>
      </ion-col>
      <ion-col>
        <button ion-button color="primary" clear small icon-start>
          <ion-icon name='text'></ion-icon>
          1 Comentários
        </button>
      </ion-col>
      <ion-col align-self-center text-center>
        <ion-note>
          1h atras
        </ion-note>
      </ion-col>
    </ion-row>

  </ion-card>


</ion-content>
