<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start" color="" (click)="back()">
      <ion-icon name="arrow-back" color="" size="large"></ion-icon>
    </ion-buttons>
    <ion-title text-center color="">Definições</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list lines="none">
    <ion-item href="/alteraremail">
      <ion-label>Alterar Email</ion-label>
      <ion-icon slot="start" color="medium" name="settings"></ion-icon>
    </ion-item>
    <ion-item href="/change">
      <ion-label>Alterar Palavra-Passe</ion-label>
      <ion-icon slot="start" color="medium" name="settings"></ion-icon>
    </ion-item>
    <ion-item>
      <ion-label>Alterar Idioma</ion-label>
      <ion-icon slot="start" color="medium" name="settings"></ion-icon>
    </ion-item>
    <ion-item href="/register">
      <ion-label>Apagar Conta</ion-label>
      <ion-icon slot="start" color="medium" name="settings"></ion-icon>
    </ion-item>
  </ion-list>

</ion-content>
